@import url('https://fonts.googleapis.com/css?family=Fira+Sans');


.batContainer {
	background-color:#ffffff;
}

.Preview {
	display:flex;
	justify-content: center;
	margin-bottom:17vh;
	position:fixed;
	height:100px;
	z-index:5;
	width:100vw;
	top:10px;

}

#batlogo {
	width:130px;
	position:absolute;
	top:24px;
	
}


.previewHandle {
	display:inline;
	position: absolute;
	width:950px;
}

.previewBarrel {
	display:inline;
	position: absolute;
	width:950px;
}


.batStripe, .previewStripe {
	position: absolute;
}

#batStripe {
	width:900px;
	position: relative;
	right:55px;
	bottom:3px;
}

.previewLogo {
	display: flex;
	width:275px;
	justify-content: flex-end;
}


.previewBarrel > img, .previewHandle> img  {

width:850px;

}

.Options {
	background-color:#231F20;
}


#choices {
	
	text-align: center;
}


#choices > div {
	border:5px solid #FF9200;
	display:inline-block;
	min-width:30vw;
	padding:0.3%;
	margin:5px;
	font-family: 'Fira Sans', sans-serif;
}

#choices > div > img {
	margin-top:16px;
	
}


.Birch, .Maple {
	display:inline-block;
	padding:1.0%;
	border:5px solid #FF9200;
	margin:25px;

}



.twentytwo, .twentyeight, .twentynine, .thirty, .thirtyone, .thirtytwo, .thirtytwopointfive ,.thirtythree, .thirtythreepointfive, .thirtyfour, .thirtyfive, .thirtysix {
	display: inline-block;
	margin-top:25px;
	margin-bottom:25px;
	border:5px solid #FF9200;
	padding:1%;
}


.Options {text-align:center; min-height:58vh; padding-bottom:15px;}


.RedHandle, .RoyalBlueHandle, .BabyBlueHandle, .PurpleHandle, .OrangeHandle, .SilverHandle, .YellowHandle, .BrownHandle, .PinkHandle, .BlackHandle, .ClearHandle, .RedBarrel, .RoyalBlueBarrel, .BabyBlueBarrel, .PurpleBarrel, .OrangeBarrel, .SilverBarrel, .YellowBarrel, .BrownBarrel, .PinkBarrel, .BlackBarrel, .ClearBarrel {
border:5px solid #FF9200;
display:inline-block;
padding:1%;

}



.batbuilderdescription {
	font-family: 'Fira Sans', sans-serif;
	margin-top:0px;
	border-top:5px solid #FF9200;
	color:#fff;
}

h1 {
	color:white;
}

.batdetails {
	background-color:#EFEFEF;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	list-style: none;
	
	border-top:5px solid #0071B2;
	margin-top:18vh;
}


.batdetails > ul {
	list-style: none;
}

p{
	font-size:18px;
	font-family: 'Fira Sans', sans-serif;
	color:#fff;
}


body {
	overflow-x: hidden;
}

.orangelogo, .bluelogo, .redlogo, .graylogo {
	border:5px solid #FF9200;
	display:inline-block;
	padding:1%;
}

.whitestripe, .bluestripe, .blackstripe, .orangestripe, .redstripe {

	border:5px solid #FF9200;
	display:inline-block;
	padding:1%;
	width:10vw;
}



.orangelogo > img, .bluelogo > img, .redlogo > img, .graylogo > img{
	width:135px;
	height:40px;
}


 .OptionOne:hover, .OptionTwo:hover, .Option3, .Option4, .Option5, .Option6, .Option7, .Option8, .Option9{
  border:#fff;
}

#choices > div {
	animation: bounce 1s;

	
}


@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}