@import url('https://fonts.googleapis.com/css?family=Fira+Sans');


.batContainer {
	background-color:#ffffff;
}

.Preview {
	display:flex;
	justify-content: center;
	margin-bottom:17vh;

}

#batlogo {
	width:135px;
	position:absolute;
	top:28px;
	
}


.previewHandle {
	display:inline;
	position: absolute;
	width:950px;
}

.previewBarrel {
	display:inline;
	position: absolute;
	width:950px;
}

.previewLogo {
	display: flex;
	width:300px;
	justify-content: flex-end;
}


.previewBarrel > img, .previewHandle> img  {

width:750px;

}

.Options {
	background-color:#231F20;
}


#choices {
	
	text-align: center;
}


#choices > div {
	border:5px solid #FF9200;
	display:inline-block;
	min-width:30vw;
	padding:0.3%;
	margin:5px;
	font-family: 'Fira Sans', sans-serif;
}

#choices > div > img {
	margin-top:16px;
	
}


.Birch, .Maple {
	display:inline-block;
	padding:1.0%;
	border:5px solid #FF9200;
	margin:25px;

}



.twentytwo, .twentyeight, .twentynine, .thirty, .thirtyone, .thirtytwo, .thirtytwopointfive ,.thirtythree, .thirtythreepointfive, .thirtyfour, .thirtyfive, .thirtysix {
	display: inline-block;
	margin-top:25px;
	margin-bottom:25px;
	border:5px solid #FF9200;
	padding:1%;
}


.Options {text-align:center; min-height:58vh; padding-bottom:15px;}


.RedHandle, .RoyalBlueHandle, .BabyBlueHandle, .PurpleHandle, .OrangeHandle, .SilverHandle, .YellowHandle, .BrownHandle, .PinkHandle, .BlackHandle, .ClearHandle, .RedBarrel, .RoyalBlueBarrel, .BabyBlueBarrel, .PurpleBarrel, .OrangeBarrel, .SilverBarrel, .YellowBarrel, .BrownBarrel, .PinkBarrel, .BlackBarrel, .ClearBarrel {
border:5px solid #FF9200;
display:inline-block;
padding:1%;

}



.batbuilderdescription {
	font-family: 'Fira Sans', sans-serif;
	margin-top:0px;
	border-top:5px solid #FF9200;
	color:#fff;
}

h1 {
	color:white;
}

.batdetails {
	background-color:#EFEFEF;
	text-align: center;
	font-family: 'Fira Sans', sans-serif;
	list-style: none;
	
	border-top:5px solid #0071B2;
}


.batdetails > ul {
	list-style: none;
}

p{
	font-size:18px;
	font-family: 'Fira Sans', sans-serif;
	color:#fff;
}


body {
	overflow-x: hidden;
}

.orangelogo, .bluelogo, .redlogo, .graylogo {
	border:5px solid #FF9200;
	display:inline-block;
	padding:1%;
}

.orangelogo > img, .bluelogo > img, .redlogo > img, .graylogo > img{
	width:135px;
	height:40px;
}


 .OptionOne:hover, .OptionTwo:hover, .Option3, .Option4, .Option5, .Option6, .Option7, .Option8, .Option9{
  border:#fff;
}